<% if user_signed_in? %>
<%= render 'layouts/nav_sheets' %>
<div class="content-sheets">
<p>Looks like you don't have any work completed just yet. Give your assistant a task and check back after you've gotten the email notifying you that they have finished.</p>
</div>
<%= link_to "Edit Profile", edit_user_registration_path %>
<%= link_to "Logout", destroy_user_session_path, method: :delete %>
<!-- close container div -->
</div>   

<% else %>
<%= render 'layouts/loginheader' %>
<%= link_to "Login", new_user_session_path %>
<% end %>

