<% if user_signed_in? %>
<%= render 'layouts/nav_sheets' %>
<div class="content-sheets">
  Display shortcuts and the latest info
</div>
<%= link_to "Edit Profile", edit_user_registration_path %>
<%= link_to "Logout", destroy_user_session_path, method: :delete %>
<!-- close container div -->
</div>   

<% else %>
<%= link_to "Sign up!", new_user_registration_path %>
<br />or<br />
<%= link_to "Login", new_user_session_path %>

<% end %>

