<%= simple_form_for(@contact, html: {class: "form-horizontal"}) do |f| %>
  <%= f.error_notification %>

    <%= f.input :name %>
    <%= f.input :company %>
    <%= f.input :duedate, :as => "string", :label =>"Assignment Deadline"  %>
        
       <% if current_page?(new_contact_path) %> 
        <p class="center">Your freelancer can take it from here.</p>
        <% else %>
       <% end %> 
        
    <div class="form-actions center">
        <%= f.button :submit %>
    </div>

    <hr>

    <%= f.input :title %>
    <%= f.input :email %>
    <%= f.input :phone %>
    <%= f.input :address %>
    <%= f.input :linkedin %>
    <%= f.input :twitter %>
    <%= f.input :facebook %>
    <%= f.input :birthday %>
    <%= f.input :previouscompany %>
    <%= f.input :notes %>
    <%= f.input :personalnote %>
    

  <br />
<% end %>
