<%= render 'layouts/nav_sheets' %>
<div class="content-events">

<h1 style="margin:25px 0 60px 0">My VIPs <span style="float:right"><%= link_to 'New Contact', new_contact_path, class: "home-buttons" %><span></h1>

    <% @contacts.each do |contact| %>
         <p><strong><%= link_to "#{contact.name}, #{contact.company}", contact %></strong><span class="small"><%= link_to 'Edit', edit_contact_path(contact) %> | <%= link_to 'Delete', contact, method: :delete, data: { confirm: 'Are you sure?' } %></span></p><hr style="margin-top:-20px">
            
        <!--<p><strong>Company: </strong></p>
        <p><strong>Title: </strong><%= contact.title %></p>
        <p><strong>Email: </strong><%= contact.email %></p>
        <p><strong>Phone: </strong><%= contact.phone %></p>
        <p><strong>Address: </strong><%= contact.address %></p>
        <p><strong>LinkedIn: </strong><%= contact.linkedin %></p>
        <p><strong>Twitter: </strong><%= contact.twitter %></p>
        <p><strong>Facebook: </strong><%= contact.facebook %></p>
        <p><strong>Birthday </strong><%= contact.birthday %></p>
        <p><strong>Previous Company: </strong><%= contact.previouscompany %></p>
        <p><strong>Notes: </strong><%= contact.notes %></p>
        <p><strong>Personal Notes:</strong><%= contact.personalnote %></p>
        <p><strong>Due Date: </strong><%= contact.duedate %></p>-->
        <!--<p><%= link_to 'Show', contact %></p>-->
        <p></p>
        <p></p>
    <% end %>

<br>
</div>


