<%= render 'layouts/nav_sheets' %>
<div class="content-contacts">
<p id="notice"><%= notice %></p>
 

<div class="contact-card">
<p>
  <strong><%= @contact.name %></strong>, <%= @contact.title %> at <%= @contact.company %>
</p>
<p>
  <%= @contact.email %> &nbsp; <%= @contact.phone %>
</p>
<p>
  <%= @contact.address %>
</p>
<hr>
<p>

  <%= @contact.linkedin %> &nbsp; <%= @contact.twitter %> &nbsp; <%= @contact.facebook %>
</p>

<hr>
<p>
  <strong>Birthday:</strong>
  <%= @contact.birthday %>
</p>

<p>
  <strong>Previous Company:</strong>
  <%= @contact.previouscompany %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @contact.notes %>
</p>

<p>
  <strong>Personal Note:</strong>
  <%= @contact.personalnote %>
</p>

</div>

<p>
  <strong>Assignment Deadline:</strong>
  <%= @contact.duedate %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> | <%= link_to 'Delete', @contact, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>