<%= simple_form_for @leadgen, html: {multipart: true} do |f| %>
  <%= f.error_notification %>
	<div class="deadline">
	<%= f.input :deadline, :as => "date", :label =>"Freelancer deadline for this assignment" %>
</div>
<hr>
  <div class="form-inputs">
    <%= f.input :title, :label => "Title of this lead generation campaign", :placeholder => "What should we call this assignment?" %>
    <%= f.input :seniority, as: :check_boxes, :label => "Select the seniority levels of the prospects you're targeting", :collection => [ "C-Level Excecutive", "Vice President", "Director", "Senior", "Manager", "Owner", "Partner", ], :input_html => {:name => "search[seniority][]", :multiple => true} %>



    <%= f.input :companies, :input_html => { :rows => 8, :placeholder => "Please separate each company with a comma." } %>

    <%= f.input :leadsper, :label => "Number of leads per company", :placeholder => "How many leads should your freelancer find per company?" %>
  </div>

<% if current_page?(new_leadgen_path) %> 
  <div class="form-actions">
    <%= f.button :submit, :value => "Generate leads" %>
  </div>
<% else %>
<div class="form-actions">
    <%= f.button :submit, :value => "Update assignment" %>
  </div>       
<% end %> 

<% end %>
