<%= render 'layouts/nav_sheets' %>
<div class="content-events">


<div class="contact-card">
<p>
  <strong>Name:</strong>
  <%= @leadgen.title %>
</p>



<p>
  <strong>Companies:</strong>
  <%= @leadgen.companies %>
</p>

<p>
  <strong>Seniority:</strong>
  <%= @leadgen.seniority %>
</p>

<p>
  <strong>Leads per company:</strong>
  <%= @leadgen.leadsper %>
</p>

</div>

<p>
  <strong>Deadline:</strong>
  <%= @leadgen.deadline %>
</p>

<%= link_to 'Edit', edit_leadgen_path(@leadgen) %> | <%= link_to 'Delete', @leadgen, method: :delete, data: { confirm: 'Are you sure?' } %>



<div class="upload-sheets-box">
<%= render 'leadgenupload' %>
</div>

</div>