<p id="notice"><%= notice %></p>

<p>
  <strong>Companies:</strong>
  <%= @leadgen.companies %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @leadgen.deadline %>
</p>

<p>
  <strong>Leadsper:</strong>
  <%= @leadgen.leadsper %>
</p>

<%= link_to 'Edit', edit_leadgen_path(@leadgen) %> |
