<%= render 'layouts/nav_sheets' %>
<div class="content-events">


<p id="notice"><%= notice %></p>

<p>
  <strong>Deadline:</strong>
  <%= @leadgen.deadline %>
</p>

<p>
  <strong>Companies:</strong>
  <%= @leadgen.companies %>
</p>

<p>
  <strong>Leads per company:</strong>
  <%= @leadgen.leadsper %>
</p>

<%= link_to 'Edit', edit_leadgen_path(@leadgen) %>
</div>