<nav>
    <a href="/"><div class="logo"><img src="http://ryanfsalerno.com/hosting/imgs/squarelogo.png" class="logo-img"></div><a/>

<ul class="leftnav">
    <li class="leftnav"><a href="/">New Assignment</a></li>
    <li class="leftnav"><%= link_to "Assistant Center", assistants_path %></li>
</ul>
            <div>
<div class="addnew">
    <!--<span>Add new</span><span class="plus-icon"></span>-->
    <span>My Assignments</span>
    <div class="nav-divider"></div>
</div>
 <ul class="leftnav">
    <li class="leftnav"><%= link_to "Lead Generation", leadgens_path %></li>
    <li class="leftnav"><%= link_to "My Events", events_path %></li>
    <li class="leftnav"><%= link_to "VIP Contacts", contacts_path %></li>
    
    <!--<li><a href="#4">Sheet 4</a></li>
    <li><a href="#5">Sheet 5</a></li>
    <li><a href="#6">Sheet 6</a></li>
    <li><a href="sheets_demo.html">Presidents</a></li>-->
</ul> 
</div>
<!--<ul>
  <li><a href="index.html">Dashboard</a></li>
  <li><a href="sheets.html" class="active-nav">Spreadsheets</a></li>
  <li><a href="messenger.html">Messages<span class="alert">22</span></a></li>
  <li><a href="#">Feedback</a></li>
</ul>-->
</nav>

<div class="mycontainer">
    <header>
    <div class="page-title">
        <h1>Let's close deals.</h1>
    </div>

    <div class="top-nav">

<!--<a href="#" class="gear-icon">&nbsp;&nbsp;&nbsp;&nbsp;</a> -->
      <ul class="nav navbar-nav" >
            <li><%= link_to "Feedback", feedback_path, {:style => 'margin-right:20px'} %></li>
    <li><%= link_to "Referrals", referrals_path, {:style => 'margin-right:10px'} %></li>
        <li >
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= "#{current_user.name}" %> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
      </ul>



      <!-- margin-right feedback 20, referrals 10 -->
    </div>
    </header>